{% extends '../login_base/base_with_navbar.html' %}

{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
<main class="site-body index">
	<div class="account">
		<div class="booking">
			{% if user.is_authenticated %}
				<div class="info">
					<p>안녕하세요, {{user.name}}님!</p>
					<p><a href="{% url 'booking:branch-list' %}">지점 검색</a></p>
					<p><a href="{% url 'account_change_password' %}">비밀번호 변경하기</a></p>
					{% for booking in bookings %}
					{% endfor %}
				</div>
			{% else %}
				<div class="info">
					<p>로그아웃된 상태입니다.</p>
				</div>
			{% endif%}
		</div>
	</div>

	<div class="content-list max-content-width">
		<div class="header">
		<h2>예약 현황</h2>
		</div>

		<div class="contents">
			{% if user.is_authenticated %}
		  		{% for booking in bookings %}
			<a href="{% url 'booking:booking-detail' booking.id %}">
				<section class="cp-card content">
				<div class="body">
					<span class="cp-chip green">{{booking.booking_dates}}</span>
					<h2 class="title">{{booking.booking_times}}</h2>
					<div class="metadata">
					<div class="review-rating">
						<span class="cp-stars">{{booking.booking_task}}</span>
					</div>
					<div class="review-author">
					<s	pan>{{ booking.booking_etc }}</span>
					</div>
				</div>
				</div>
			</section>
			</a>
		{% empty %}
			<p class="empty">예약이 없어요 :(</p>
		{% endfor %}
		{% else %}
				<div class="info">
					<p>로그아웃된 상태입니다.</p>
				</div>
			{% endif %}
		</div>

		{% if is_paginated %}
		<footer>
			<ul class="pagination">
			{% if page_obj.has_previous %}
				<li><a href="?page=1">처음</a></li>
				<li><a href="?page={{ page_obj.previous_page_number }}">이전</a></li>
			{% endif %}

			{% for num in page_obj.paginator.page_range %}
				{% if page_obj.number == num %}
				<li class="current">{{ num }}</li>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<li><a href="?page={{ num }}">{{ num }}</a></li>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}">다음</a></li>
				<li><a href="?page={{ page_obj.paginator.num_pages }}">마지막</a></li>
			{% endif %}
			</ul>
		</footer>
		{% endif %}
	</article>
	</div>
</main>




{% endblock content %}