{% extends '../login_base/base_with_navbar.html' %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
  <link rel="stylesheet" href="{% static 'booking/css/booking_form.css' %}">  
{% endblock css %}

{% block title %}예약하기 | Hana Booking{% endblock title %}

{% block content %}
<main class="site-body">
  <form class="review-form max-content-width" method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    {% comment %} {% include 'components/calender.html' with branches=branches %} {% endcomment %}

    <h2> 예약정보 </h2>
    <div class="title">
      {{ form.booking_dates|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:날짜" }}
      {% for error in form.booking_dates.errors %}
        <div class="error-message"> {{ error }} </div>
      {% endfor %}
    </div>

    {% comment %} <div class="restaurant-name">
      {{ form.booking_dates|add_class:"cp-input"|attr: "placeholder:날짜" }}
      {% for error in form.booking_dates.errors %}
        <div class="error-message"> {{ error }} </div>
      {% endfor %}
    </div> {% endcomment %}

    {% comment %} <div class="restaurant-link">
    <input type="url" name="restaurant_link" maxlength="200" placeholder="네이버 또는 카카오 플레이스 주소" class="cp-input" required id="id_restaurant_link">
    </div> {% endcomment %}

    <div class="title">
      {{ form.booking_times|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:시간" }}
      {% for error in form.booking_times.errors %}
        <div class="error-message"> {{ error }} </div>
      {% endfor %}
    </div>

    <div class="title">
      {{ form.booking_task|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:업무" }}
      {% for error in form.booking_task.errors %}
        <div class="error-message"> {{ error }} </div>
      {% endfor %}
    </div>
{% comment %} 
    <div class="title">
      {{ form.|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:업무" }}
      {% for error in form.booking_employee.errors %}
        <div class="error-message"> {{ error }} </div>
      {% endfor %}
    </div> {% endcomment %}

    {% comment %} <div class="rating">
      <div class="cp-stars">
        {% for radio in form.booking_times %}
          {{ radio }}
        {% endfor %}
      </div>
      {% for error in form.booking_times.errors %}
        <div class="error-message"> {{ error }} </div>
      {% endfor %}
    </div>

    <div class="rating">
      <div class="cp-stars">
        {% for radio in form.booking_task %}
          {{ radio }}
        {% endfor %}
      </div>
      {% for error in form.booking_task.errors %}
        <div class="error-message"> {{ error }} </div>
      {% endfor %}
    </div> {% endcomment %}

    <div class="content">
      {{ form.booking_etc|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:여기에 자세한 업무 요청사항 및 문의사항을 입력하시면 직원이 가능한 빠른 시간 내에 댓글을 달아드립니다 :)" }}
      {% for error in form.booking_etc.errors %}
        <div class="error-message"> {{ error }} </div>
      {% endfor %}
    </div>
    
    <h2> 빠른 서류제출 </h2>
    <div class="file">
      <div class="file-content">
        <div>
          {{ form.booking_image1 }}
        </div>
      </div>
    </div>
    <div class="file">
      <div class="file-content">
        <div>
          {{ form.booking_image2 }}
        </div>
      </div>
    </div>
    <div class="file">
      <div class="file-content">
        <div>
          {{ form.booking_image3 }}
        </div>
      </div>
    </div>


    <div class="buttons">
      <a class="cp-button secondary cancel" href="{% url 'booking:branch-list' %}">취소</a>
      <button class="cp-button submit" type="submit">완료</button>
    </div>
  </form>
</main>
{% endblock content %}
