{% extends '../login_base/base_with_navbar.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}{{ booking.booking_branch.branch_name }}지점 | Hana Booking{% endblock title %}

{% block content %}
<main class="site-body">
  <article class="review-detail max-content-width">
    <div class="review-info">
      <div class="restaurant-name">
        <span class="cp-chip green">{{ booking.booking_branch.branch_name }}지점</span>
      </div>
      <h1 class="title"> {{ booking.booking_dates }}
        {% if booking.booking_times == 1 %}
          오전 9시 정각
        {% elif booking.booking_times == 2 %}
          오전 9시 30분
        {% elif booking.booking_times == 3 %}
          오전 10시 정각
        {% elif booking.booking_times == 4 %}
          오전 10시 30분
        {% elif booking.booking_times == 5 %}
          오전 11시 정각
        {% elif booking.booking_times == 6 %}
          오전 11시 30분
        {% elif booking.booking_times == 7 %}
          오후 12시 정각
        {% elif booking.booking_times == 8 %}
          오후 12시 30분
        {% elif booking.booking_times == 9 %}
          오후 1시 정각
        {% elif booking.booking_times == 10 %}
          오후 1시 30분
        {% elif booking.booking_times == 11 %}
          오후 2시 정각
        {% elif booking.booking_times == 12 %}
          오후 2시 30분
        {% elif booking.booking_times == 13 %}
          오후 3시 정각
        {% else %}
          오후 3시 30분
        {% endif %}
      </h1>
      <div class="author">
        <a class="review-author" href="#">
          <div class="cp-avatar" style="background-image: url('{{ booking.booking_client.profile_pic.url }}')"></div>
          <span>{{ booking.booking_client.name }}</span>
        </a>
      </div>
      <date class="date">
        {% if booking.booking_task == 1 %}
          개인/가계 예금(수신) 업무
        {% elif booking.booking_task == 2 %}
          개인/가계 대출(여신) 업무
        {% elif booking.booking_task == 3 %}
          개인/가계 외환 업무
        {% elif booking.booking_task == 4 %}
          기업 예금(수신) 업무
        {% elif booking.booking_task == 5 %}
          기업 대출(여신) 업무
        {% else %}
          기업 외환 업무
        {% endif %}</date>
        
    </div>

    <div class="content">
      {% comment %} 네이버지도 {% endcomment %}
      <div id="map" style="width:100%;height:400px;"></div>
      {% comment %} <h3 class="content">주소: {{booking.booking_branch.branch_address}}</h3>
      <h3 class="content">전화번호: {{booking.booking_branch.branch_tel}}</h3>
      {% if booking.booking_branch.branch_image %}
        <img class="thumb" src="{{ booking.booking_branch.branch_image.url }}">
      {% endif %} {% endcomment %}
      <h3 class="content">기타 요청사항 및 문의사항</h3>
      <p class="content">{{ booking.booking_etc }}</p>
      <a class="location" target="_blank" href="{{ booking.booking_branch.branch_link }}">
        <img class="cp-icon" src="{% static 'login/icons/ic-pin.svg' %}" alt="Pin Icon">
        <span>카카오맵 위치보기</span>
      </a>

      {% if booking.booking_image1 %}
        <a href="{{ booking.booking_image1.url }}" download="record_sample"><h3 class="content">손님 제출서류1 다운로드</h3></a>
      {% endif %}
      {% if booking.booking_image2 %}
        <a href="{{ booking.booking_image2.url }}" download="record_sample"><h3 class="content">손님 제출서류2 다운로드</h3></a>
      {% endif %}
      {% if booking.booking_image3 %}
        <a href="{{ booking.booking_image3.url }}" download="record_sample"><h3 class="content">손님 제출서류3 다운로드</h3></a>
      {% endif %}
    </div>

    <div class="like-comment-block">
      <div class="like-comment-header">
        {% if user.is_authenticated %}
          <form action="{% url 'booking:process-like' booking_ctype_id booking.id %}" method="post">
            {% csrf_token %}
            <button class="like-button" type="submit">
              {% if likes_booking %}
                <img width="21px" src="{% static 'login/icons/ic-heart-orange.svg' %}" alt="filled like icon">
              {% else %}
                <img width="21px" src="{% static 'login/icons/ic-heart.svg' %}" alt="like icon">
              {% endif %}
              
              <span> 좋아요 {{ booking.likes.count }}</span>
            </button>
          </form>
        {% else %}
          <a class="like-button" href="{% url 'account_login' %}?next={% url 'booking:booking-detail' booking.id %}">
            <img width="21px" src="{% static 'login/icons/ic-heart.svg' %}" alt="like icon">
            <span> 좋아요 {{ booking.likes.count }}</span>
          </a>
        {% endif %}
        <div class="comment-info">
          <img src="{% static 'login/icons/ic-comment.svg' %}" alt="comment icon">
          <span> 댓글 {{ booking.booking_comments.count }}</span>
        </div>
      </div>

    {% comment %} 댓글 작성 폼 {% endcomment %}
    <form class="comment-create-form" action="{% url 'booking:booking-comment-create' booking.id %}" method="post">
      {% csrf_token %}
      {% if user.is_authenticated%}
        {% if user.employee %}
          {{ form.content|attr:"placeholder:고객은 당신의 친절한 안내에 큰 감동을 받습니다 :)"|add_class:"cp-input" }}
          <button class="cp-button small" type="submit">등록</button>
        {% else %}
        <a href="{% url 'account_login' %}?next={% url 'booking:booking-detail' booking.id %}">
          {{ form.content|attr:"placeholder:직원이 댓글을 등록해드립니다 :)"|add_class:"cp-input"|attr:"disabled" }}
        </a>
        <button class="cp-button small secondary" type="submit" disabled=>등록</button>  
        {% endif %}
      {% else %}
        <a href="{% url 'account_login' %}?next={% url 'booking:booking-detail' booking.id %}">
          {{ form.content|attr:"placeholder:댓글을 작성하려면 로그인이 필요합니다."|add_class:"cp-input"|attr:"disabled" }}
        </a>
        <button class="cp-button small secondary" type="submit" disabled=>등록</button>
      {% endif %}
    </form>

    <div class="comment-list">
      {% for booking_comment in booking.booking_comments.all %}
        <div class="comment">
          <div class="comment-header">
            {% comment %} <a href="{% url 'profile' comment.author.id %}"> {% endcomment %}
              <div class="author">
                <div class="cp-avatar" style="background-image: url('{{ booking_comment.author.profile_pic.url }}')"></div>
                <span>{{ booking_comment.author.name }}</span>
              </div>
            </a>
            {% if user == booking_comment.author %}
              <div class="buttons">
                <a href="{% url 'booking:booking-comment-delete' booking_comment.id %}">삭제</a>
                <span> | </span>
                <a href="{% url 'booking:booking-comment-update' booking_comment.id %}">수정</a>
              </div>
            {% endif %}
          </div>
          <div class="comment-content">
            {{ booking_comment.content|linebreaksbr }}
          </div>
          <div class="comment-footer">
            <div class="comment-date">
              {{ booking_comment.dt_created|date:"Y년 n월 j일" }}
            </div>
            {% if user.is_authenticated %}
              <form action="{% url 'booking:process-like' booking_comment_ctype_id booking_comment.id %}" method="post">
                {% csrf_token %}
                <button class="like-button" type="submit">
                  {% if booking_comment in liked_comments %}
                    <img width="21px" src="{% static 'login/icons/ic-heart-orange.svg' %}" alt="filled like icon">
                  {% else %}
                    <img width="21px" src="{% static 'login/icons/ic-heart.svg' %}" alt="like icon">
                  {% endif %}
                  <span> 좋아요 {{ booking_comment.likes.count }}</span>
                </button>
              </form>
            {% else %}
              <a class="like-button" href="{% url 'account_login' %}?next={% url 'booking:booking-detail' booking.id %}">
                <img width="21px" src="{% static 'login/icons/ic-heart.svg' %}" alt="like icon">
                <span> 좋아요 {{ booking_comment.likes.count }}</span>
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

    <div class="footer">
      <a class="back-link" href="{% url 'booking:profile' user.id %}">&lt; 목록으로</a>
      {% if booking.booking_client == user %}
      <div class="buttons">
        <a class="cp-button warn" href="{% url 'booking:booking-delete' booking.id %}"> 예약 강제 취소 </a>
        {% comment %} <a class="cp-button secondary" href="#">수정</a> {% endcomment %}
      </div>
      {% endif %}
    </div>
  </article>
</main>

{% comment %} 네이버지도 {% endcomment %}
<script>
  var branch_address = '{{booking.booking_branch.branch_address}}';
  console.log(branch_address);

  {% comment %} geocoding {% endcomment %}
  naver.maps.Service.geocode({
    address: branch_address
}, function(status, response) {
    if (status !== naver.maps.Service.Status.OK) {
        return alert('Something wrong!');
    }

    var result = response.result, // 검색 결과의 컨테이너
        items = result.items; // 검색 결과의 배열

    var result_x = result.items[0].point.x;
    var result_y = result.items[0].point.y;

    var mapOptions = {
      center: new naver.maps.LatLng(result_y, result_x),
      zoom: 15,
      minZoom: 10,
      zoomControl: true
  };

  var contentString = [
        '<div class="iw_inner">',
        '   <h3>{{ booking.booking_branch.branch_name }} 지점</h3>',
        '   <p>{{ booking.booking_branch.branch_address }}<br />',
        '       {{ booking.booking_branch.branch_tel }}<br />',
        '   </p>',
        '</div>'
    ].join('');
  
  var map = new naver.maps.Map('map', mapOptions);

  var marker = new naver.maps.Marker({
    map: map,
    position: new naver.maps.LatLng(result_y, result_x)
  });

  var infowindow = new naver.maps.InfoWindow({
    content: contentString,

  });

  naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
        infowindow.close();
    } else {
        infowindow.open(map, marker);
    }
});

}); 

  </script>
{% endblock content %}
