{% extends '../login_base/base_with_navbar.html' %}

{% load static %}

{% block title %}{{ review.title }} | Hana Reservation{% endblock title %}

{% block content %}
<main class="site-body">
  <article class="review-detail max-content-width">
    <div class="review-info">
      <div class="restaurant-name">
        <span class="cp-chip green">{{ booking.booking_branch.branch_name }}</span>
      </div>
      <h1 class="title"> {{ booking.booking_task }}</h1>
      <div class="author">
        <a class="review-author" href="#">
          <div class="cp-avatar" style="background-image: url('{{ booking.booking_client.profile_pic.url }}')"></div>
          <span>{{ booking.booking_client.name }}</span>
        </a>
      </div>
      <date class="date">2021년 2월 25일</date>
      <div class="review-rating">
        <span class="cp-stars">★★★★★</span>
      </div>
    </div>

    <div class="content">
      <img class="thumb" src="#">
      <p class="content">리뷰 내용</p>
      <a class="location" target="_blank" href="#">
        <img class="cp-icon" src="{% static 'coplate/icons/ic-pin.svg' %}" alt="Pin Icon">
        <span>위치보기</span>
      </a>
    </div>

    <div class="footer">
      <a class="back-link" href="{% url 'booking:profile' user.id %}">&lt; 목록으로</a>

      {% if booking.booking_client == user %}
      <div class="buttons">
        <a class="cp-button warn" href="{% url 'booking:booking-delete' booking.id %}"> 예약 취소 </a>
        {% comment %} <a class="cp-button secondary" href="#">수정</a> {% endcomment %}
      </div>
      {% endif %}
    </div>
  </article>
</main>
{% endblock content %}
