{% extends './base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block date_block %}
	<div> {{date}} </div>
{% endblock date_block %}

{% block clerk_container%}
	<h1> 방문 예약 </h1>
	<h2> 직원 선택 </h2>

	{% for clerk in clerks %}
	<div class="clerk">
		<img src= {% get_static_prefix %}{{clerk.img_path}} width= "300px" height="300">
		<div class="info">
			<h3> {{clerk.name}} </h3> 
			<p> {{clerk.description}} </p>
			<a href="{{clerk.id}}"> 예약 </a>
		</div>
	</div>
	{% endfor %}
{% endblock clerk_container%}