{% extends './base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

<!DOCTYPE html>
<html>
<head>
    <title>영업점 방문 예약 프로그램</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static 'booking/css/styles_detail.css'%}>
</head>
<body>
    <div class = "clerk-detail">
        <h2> {{clerk.name}} </h2>
        <div> {{clerk.description}} </div>
        <img src = {% get_static_prefix %}{{clerk.img_path}} width="300px" height="300px"/>
        <a href="/booking/clerk_choice">돌아가기</a>
    </div>
</body>
</html>


