{% extends "login_base/base_with_navbar.html" %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'login/css/index.css' %}">  
{% endblock css %}


{% block content %}
<div class="account-background">
  <div class="home_slogan">
    <h2 class="slogan">
      언제 어디서나,
      <br>
      예약은
      <strong>하나은행</strong>으로
    </h2>

    <p>
      예금상담부터 대출상담까지,
      <br>
      간편하게 로그인하고 바로 예약하세요!
    </p>
    
    {% if user.is_authenticated %}
    <a href={% url 'booking:booking-list' %}>지금 바로 예약하기</a>
    {% else %}
    <a href={% url 'account_login' %}>지금 바로 간편로그인하기</a>
    {% endif %} 
  </div>
</div>
{% endblock content %}
