{% extends "login_base/base.html" %}

{% load static %}

{% block header %}
<header class="site-header navbar">
  <div class="content max-width">
    <a href="{% url "login:index" %}">
      <img class="logo" src="{% static 'login/assets/logo.png' %}" alt="Coplate Logo">
    </a>
    <nav>
      <ul class="navbar">
        {% if user.is_authenticated %}
          {% comment %} {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">관리자</a></li> {% endcomment %}
          <li><a href="{% url 'booking:profile' user.id %}">예약현황</a></li>
          <li><a href="{% url 'account_logout' %}">로그아웃</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">로그인</a></li>
          <li><a href="{% url 'booking:branch-list' %}">지점검색</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
{% endblock header %}

{% block footer %}
<footer class="site-footer">
  <div class="max-content-width content">
    <div>© 2022 Powered by KAIST-HANA bank DigitalWarrior 2기 5조</div>
    <div>Hana Booking</div>
  </div>
</footer>
{% endblock footer %}
