{% load static %} 

{% block css %}
	<link rel="stylesheet" href="{% static 'booking/css/calender.css' %}">  
{% endblock css %}

<div class="contents">
    <h2>{{branch.name}} 지점</h2>
	<div class="calendar">
		<div class="calendar_header">
			<div class="calendar_nav">
				<button class="nav-btn go-prev"><</button>
				<span class="year"></span>년
				<span class="month"></span>월
				<button class="nav-btn go-next">></button>
			</div>
		</div>
		<div class="calendar_main">
			<div class="days">
				<div class="day">일</div>
				<div class="day">월</div>
				<div class="day">화</div>
				<div class="day">수</div>
				<div class="day">목</div>
				<div class="day">금</div>
				<div class="day">토</div>
			</div>
			<div class="dates"></div>
		</div>
	
		<!-- 예약 창 -->
		<div class="resv-wrapper">
			<div class="resv-bg">
				<button class="resv-close">X</button>
				<div class="resv_info">
					<div class="resv_ym">
						<table>
							<div>Today: {{date}}</div>
						</table>	
					</div>
					<hr/>
					{% comment %} <h2><a href={% url 'booking:select-clerk'%}>직원 선택 및 시간 예약</a></h2> {% endcomment %}
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'booking/js/calender.js' %}"></script>
	<script src="{% static 'booking/js/reserve.js' %}"></script>
</div>