{% extends "login_base/base_with_navbar.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}회원가입 | Hana Reservation{% endblock title %}

{% block content %}
<div class="account-background">
  <main class="account">
    <div class="title">
      <a href="{% url 'login:index' %}">
        <img class="logo" src="{% static 'login/assets/coplate-logo.svg' %}" alt="Coplate Logo">
      </a>
    </div>

    <div class="info">
        <a class="link" href="{% url 'account_login' %}">로그인</a>
        <a class="link" href="{% url 'account_signup' %}">회원가입</a>
    </div>

    <form method="post">
      {% csrf_token %}
      <div>
        {{ form.email|add_class:"cp-input"|attr:"placeholder:이메일"|add_error_class:"error" }}
        {% for error in form.email.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <button class="cp-button" type="submit">비밀번호 초기화</button>
    </form>
  </main>
</div>
{% endblock content %}
